body {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#menu > ul {
    background: rgb(35, 104, 199);
    margin: 0;
    padding: 0;
}

#menu ul {
    list-style: none;
    position: relative;
    float: left;
}

#menu ul li {
    float: left;
    position: relative;
}

#menu ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
}

#menu ul ul {
    position: absolute;
    background: rgb(27, 102, 145);
    display: none;
}

#menu ul ul li {
    float: none;
    width: 200px;
}

#menu ul ul ul {
    left: 100%;
    top: 0%;
}

#menu ul li:hover > ul {
    display: block;
}
